# Data files (too large for GitHub)
data/dataset.txt
data/processed_spark_data.csv
data/weekday_features.csv
data/trend_features.csv
data/trend_features.csv
data/plot.png
data/hourly_data.csv

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Node
frontend/node_modules/
frontend/build/

# Docker
docker/volumes/

# IDE
.vscode/
.idea/